.example {
    background-color: #0053a1;
    border-radius: 100px;
    color: #bfe3f4;
    font-family: 'Baloo Paaji 2', sans-serif;
    font-size: 9px;
    font-weight: 800;
    height: 14px;
    margin-right: 10px;
    padding: 2px 6px;
    width: 14px;
}