.main-button {
    background-color: #5d96b8;
    border-radius: 100px;
    color: #f9fcfe;
    font-family: "Lost Fish";
    font-size: 18px;
    margin: 41px 0 16px;
    text-align: center;
    text-transform: uppercase;
}

.tutorial {
    background-color: #00c5b9;
    opacity: 60%;
    padding: 17px 50px;
}

.training {
    padding: 17px 25px;
}

.print {
    padding: 17px 22px;
}

.icon {
    margin-right: 14px;
    width: 20px;
}