.need-button {
    background-color: #238dcd;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Lost Fish";
    font-size: 14px;
    padding: 11px 0;
    text-align: center;
    text-transform: uppercase;
}

.save {
    margin-bottom: 8px;
}

.download {
    background-color: #afffff;
    color: #238dcd;
}

.icon-need {
    width: 20px;
}

.save .icon-need {
    margin-right: 10px;
}