.switch-wrapper {
    background-color: #ffffff;
    border: solid 1px #0053a1;
    border-radius: 100px;
    display: inline-block; 
    height: 22px;
    padding: 2px;
    width: 43px;
  }

.switch-inner {
    background-color: #0053a1;
    border-radius: 8px;
    height: 16px;
    width: 16px;
}

input:checked + .switch-wrapper .switch-inner {
    margin-left: 21px;
  }

.switch input {
    display: none;
}