.l-header {
    background: linear-gradient(#b9eaff, #ffffff);
    position: relative;
}

.l-footer {
    background-color: #002f48;
}

.l-main-buttons {
    display: flex;
    margin: 25px 0 41px 0;
}

.l-verbs-bubbles {
    display: flex;
    justify-content: space-around;
    margin: 1px 24px;
}

