.l-header {
    background: linear-gradient(#b9eaff, #ffffff);
}

.l-main {
    background: linear-gradient(#d1f1ff, #005280);
}

.l-footer {
    background-color: #002f48;
}

.l-main-buttons {
    display: flex;
    margin: 40px 0;
}